name: Deploy API

on:
    push:
        branches: [ main ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v2

            - name: Docker Login
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and Push
              uses: docker/build-push-action@v4
              with:
                context: .
                file: ./Docker/Dockerfile.api
                push: true
                tags: anuraaag5/nexusapi:${{ github.sha }}

            - name: Deploy to VM
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.VM_HOST }}
                username: ${{ secrets.VM_USERNAME }}
                key: ${{ secrets.VM_SSH_KEY }}
                script: |
                  sudo docker pull anuraaag5/nexusapi:${{ github.sha }}

                  sudo docker stop nexusapi || true
                  sudo docker rm nexusapi || true

                  sudo docker run -d \
                    --name nexusapi:${{ github.sha }} \
                    --restart always \
                    -p 3001:3001 \
                    -e DATABASE_URL=postgresql://neondb_owner:npg_rd0axVuF9BiL@ep-nameless-mode-a420b2i5-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require \
                    -e JWT_SECRET=yoyobiatch \
                    anuraaag5/nexusapi:${{ github.sha }}
                    
                  sudo docker image prune -f